.icon-modal-color {
  --ion-color-base: white !important;
}

ion-select {
  color: #3880ff !important;
}

.image-center {
  margin: 0 auto;
}

ion-avatar {
  text-align: center;

  width: 150px;
  height: 150px;
}

.button-photo{
  text-align: center;
}
