.margin-web{
    padding-bottom: 10px;
}

.icon-tab{
    font-size:30px;
    font-weight: bold;
}

.tab-selected ion-icon{
    color: #3dc2ff;
}


.bg-prod{
    background-color: #042132 !important;
  }
  
  .bg-dev{
    background-color: #042132 !important;
    --background-color: #042132 !important;
  }